*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --field-height: calc(100vh/3);
}
body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    position: relative;
    background-color: #f8f9fa;
}
.show-case{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    padding-left: 20px;
}
.bookCard{
    width: '';
    display: inline-block;
    background-color: #212529;
    margin-right: 20px;
    color: whitesmoke;
    padding: 20px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    color: whitesmoke;
    padding: 20px 0;
}
.bookCard p, .bookCard button{
    margin-top: 20px;
}
.remove{
    margin-left: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 10px 20px;
}
#close-pop{
    align-self: flex-end;
}
h2{
    color: #212529;
}
button{
    background-color: #212529;
    border: 1px solid #f8f9fa;
    color: white;
    padding: 5px 10px;
}
.pop-up div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.pop-up{
    width: 70%;
    margin: auto;
    display: none;
    height: var(--field-height);
    position: absolute;
    left: calc(30vw/2);
    top: calc((100vh - var(--field-height))/2);
    z-index: 1;
    background-color: white;
    padding:30px;
}
input, label{
    vertical-align: middle;
}
input{
    background-color: #f8f9fa;
    border: 2px solid #212529;
    border-radius: 2vw;
}
@media screen and (min-width: 480px) {
    :root{
        --field-height: calc(100vh/2);
    }
    .pop-up{
        width: 25%;
        left: calc(75vw/2);
    }
}